@using CLSoft.MyWallet.Models.Home
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-4">
        <h4>Your wallets</h4>
        <div class="card-columns">
            @Html.DisplayFor(m => m.OneSelectedWallet)
            @Html.DisplayFor(m => m.AllSelectedWallets)
            <a asp-controller="Wallets" asp-action="Add" class="card-anchor">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New wallet</h5>
                        <p class="card-text">Register a new wallet.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col">
                <h4>Current balance</h4>
                <p>@Model.CurrentBalance.CurrentBalance</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Last transactions</h4>
                <a asp-controller="Transactions" asp-action="Add">Register transaction</a>
                <table class="table">
                    <tbody>
                    @foreach (var transaction in Model.Transactions)
                    {
                        <tr>
                            <td>@transaction.Description</td>
                            <td>@transaction.WalletName</td>
                            <td>@transaction.Amount</td>
                            <td>@transaction.RegisteredOn</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>