@using CLSoft.MyWallet.Models.Home
@model DashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-8">
        <h1 class="display-4">Welcome back, <br /> @Model.UserName</h1>
    </div>
    <div class="col-sm-4">
        <div class="col">
            <h4>Current balance</h4>
            <p>@Model.CurrentBalance.CurrentBalance</p>
        </div>
        <div class="col">
            <canvas id="balance-chart"></canvas>
        </div>
    </div>
</div>
<div class="row" id="last-row">
    <div class="col-sm-8">
        <h4>Your wallets</h4>

        @for (var i = 0; i < Model.Wallets.Count; i += 3)
        {
            <div class="row">
                @for (var j = 0; j < 3 && i + j < Model.Wallets.Count; j++)
                {
                    @Html.DisplayFor(m => m.Wallets[i + j])
                }
            </div>
        }

    </div>
    <div class="col-sm-4">
        <h4>Your last transactions</h4>
        <a asp-controller="Transactions" asp-action="Add">Register transaction</a>
        <table class="table">
            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.RegisteredOn</td>
                        <td>@transaction.WalletName</td>
                        <td>@transaction.Amount</td>
                        <td>@transaction.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script src="~/js/chart.min.js"></script>

    <script>
        var timeBalance = @(Html.Raw(Json.Serialize(Model.TimeBalance)));
    </script>

    <script src="~/js/home.min.js"></script>
}